html {
  padding-left: 300px;
  box-sizing: border-box;
  width: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}

.table {
  position: relative;
  cursor: pointer;
  background: white;
  box-shadow: 0.1vw 0.1vw 5px 0 rgba(0,0,0,0.2);
  margin: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AAA;
  font-size: 1.5vw;
  height: calc(8vh - 4px);
  width: 3.5vw;
}

.table:not(.disabled)::before {
  content: attr(data-id);
  position: absolute;
  font-size: 50%;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}
.table.empty::before {
  color: gray;
  opacity: 1;
}

.table.empty {
  opacity: 0.5;
  cursor: default;
}
.table.disabled {
  opacity: 0;
  cursor: default;
}

.table.highlight {
  background: #000;
  color: white;
  z-index: 2;
  animation-duration: 500ms;
  animation-name: select;
  mix-blend-mode: overlay;
}

.section {
  display: flex;
  max-height: 35vh;
  padding: 2.5vw 1vw .5vw 1vw;
  border: 1px solid white;
  flex-wrap: wrap;
  width: 7.5vw;
  flex-direction: column;
  direction: rtl;
  position: relative;
  background: #EEE;
}

.section-tables {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

.section-tables:nth-child(2n) {
  flex-direction: column-reverse;
}

.enginering {
  background-color: #D37780;
}
.marketing {
  background-color: #6BA099;
}
.design {
  background-color: #AEE1A4;
}
.product {
  background-color: #9AD58E;
}
.integrations {
  background-color: #75B767;
}
.sales {
  background-color: #DBA37C;
}
.insurance {
  background-color: #FFCDAA;
}
.hr {
  background-color: #88BBB4;
}
.founders {
  background-color: #9AD58E;
}
.office {
  background-color: #6BA099;
}
.cc {
  background-color: #D37780;
}

.section::before {
  content: "Section " attr(data-id);
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 5vh;
}

.row {
  display: flex;
  flex-direction: row-reverse;
}

.floor-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.floor {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  background: white;
  z-index: 1;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.floor:not(.focused) {
  z-index: 0;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.floor::before {
  content: attr(data-id) "th Floor";
  font-size: 1.2em;
  line-height: 2;
  color: gray;
}

.search-bar {

}
input, select, button {
  display: block;
  margin: 1vh 0.5vh;
  width: 300px;
  padding: 5px;
  box-sizing: border-box;
}
.search-results {
  background: white;
  text-align: left;
  margin-top: -1vh;
  box-shadow: 0 11px 25px 0 rgba(0,0,0,0.2);
  max-height: 32vh;
  overflow: auto;
  position: absolute;
  z-index: 2;
  width: 300px;
  margin-right: 0.5vh;
  margin-left: 0.5vh;
}
.search-results .result {
  padding: 1vh;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.result * {
  pointer-events: none;
}
.search-results .result:hover {
  background: #0080f5;
  color: white;
}

.tag:not(:empty) {
  padding: 1px 4px;
  margin: 1px 3px 1px 0;
  border: 1px solid #999;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
}

.user-card {
  display: block;
  border: 1px solid #666;
  padding: 1vw;
  left: 0;
  top: 0;
  margin-top: 2vw;
}

.hidden {
  display: none;
}

@keyframes select {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar {
  position: fixed;
  z-index: 1;
  height: 100%;
  box-shadow: 2px 0 2px 0 lightgray;
  text-align: left;
  top: 0;
  left: 0;
  padding: 15px;
  width: 300px;
}
.auth-bar {
  margin-bottom: 50px;
}
.auth-window {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
